<html>
    <head>
        <title>Sample Application</title>
    </head>
    <body>
        <h1>This page shows the current course state</h1>
        <span>Current state is:</span> <span id="current-course-state"></span>
    </body>

    <script type="text/javascript" src="{{ STATIC_URL }}/jquery-1.9.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // check if this browser has SSE capability.
            if (window.EventSource) {
                var eventSource = new EventSource("{% url 'course_state_stream' channel_extension='1' %}");

                eventSource.addEventListener("state", function(e) {
                    $("#current-course-state").html(e.data);
                });
            }
            else {
                // fallback to xhr polling.
                setTimeout(function() {
                    $("#current-course-state").load("{% url 'course_state' course_id=1 %}")
                }, 2000);
            }

            // load the current state.
            $("#current-course-state").load("{% url 'course_state' course_id=1 %}")
        });
    </script>
</html>