{% load url from future %}

<html>
    <head>
        <title>Sample Application</title>
    </head>
    <body>
        <h1>This page shows the current course state</h1>
        <span>Current state is:</span> <span id="current-course-state"></span>
        <button id="start-button">Start course</button>
        <button id="stop-button">Stop course</button>
    </body>

    <script type="text/javascript" src="{{ STATIC_URL }}/js/lib/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/lib/klass.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/course.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var courseController = new course.CourseController({
                courseStreamURL: "{% url 'course_state_stream' channel_extension='1' %}",
                courseStateURL: "{% url 'course_state' course_id=1 %}",
                courseStartURL: "{% url 'start_course' course_id=1 %}",
                courseStopURL: "{% url 'stop_course' course_id=1 %}",
            });
        });
    </script>
</html>